OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
SYSTEM_PROMPT_FILE=./prompts/system-custom.md
DATABASE_URL=
EMBEDDING_DIM=
EMBEDDING_BASE_URL=
EMBEDDING_API_KEY=
EMBEDDING_MODEL=
EmbeddingDim=768
INGEST_DIR=
PROCESSED_DIR=